<a href="https://colab.research.google.com/github/aryan-crypto/AryanSood_102053042_Sampling/blob/main/AryanSood_102053042_3CO16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Name:Aryan Sood
##Roll Number:102053042
##Subgroup:3CO16

In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('/content/Creditcard_data.csv')

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn.ensemble import RandomForestClassifier
def RandomForest(X_train, y_train, X_test, y_test):
  clf = RandomForestClassifier(n_estimators = 2)
  clf.fit(X_train, y_train)
  y_pred = clf.predict(X_test)
  return accuracy_score(y_test,y_pred)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
def KNN(X_train, y_train, X_test, y_test):
  knn = KNeighborsClassifier(n_neighbors = 7).fit(X_train, y_train)
  knn_pred = knn.predict(X_test)
  return accuracy_score(y_test,knn_pred)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
def DecisionTree(X_train, y_train, X_test, y_test):
  tree = DecisionTreeClassifier(max_depth = 2).fit(X_train, y_train)
  tree_pred = tree.predict(X_test)
  return accuracy_score(y_test,tree_pred)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
def naive_bayes(X_train, y_train, X_test, y_test):
  model=GaussianNB()
  model.fit(X_train,y_train)
  y_pred=model.predict(X_test)
  return accuracy_score(y_test,y_pred)

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import accuracy_score

def ExtraT(X_train, y_train, X_test, y_test):
 # Create a RidgeClassifier object and fit it to the training data
 et_clf = ExtraTreesClassifier(n_estimators=40, random_state=1)

 # Train the classifier on the training set
 et_clf.fit(X_train, y_train)
 # Make predictions on the testing set and calculate accuracy
 y_pred = et_clf.predict(X_test)
 acc = accuracy_score(y_test, y_pred)
 return acc

In [ ]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,1
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
from sklearn.preprocessing import normalize
Amount = normalize([df['Amount']])[0]
df['Amount'] = Amount
df = df.iloc[:, 1:]

In [ ]:
df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0

In [ ]:
clas = df["Class"].value_counts(normalize=False)
print(clas)

0    763
1      9
Name: Class, dtype: int64

In [ ]:
X = df.drop('Class', axis=1)
y = df['Class']

In [ ]:
# over sampling the minority data -> balancing the imbalanced dataset
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=42)
X_r, y_r = ros.fit_resample(X, y)

In [ ]:
clas = y_r.value_counts(normalize=False)
print(clas)

0    763
1    763
Name: Class, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_dummy, X_test, y_dummy, y_test = train_test_split(X_r, y_r, test_size=0.33, random_state=42)

In [ ]:
df_new = pd.concat([X_r, y_r], axis=1)
df_new

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1
1522,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1523,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1524,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1
1525,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,-0.838587,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,0.090968,1

In [ ]:
z = 1.96 #95% confidence level
p = 0.5
e = 0.05 #5% esimated margin of error

##SIMPLE RANDOM SAMPLING

In [ ]:
#Simple Random Sampling 
import math
n_srs = (z*z*p*(1-p))/(e*e)
n_srs = math.floor(n_srs)
print(n_srs)

384

In [ ]:
# from pandas.core.dtypes.generic import DataFrame
import random
def random_sampling(df, n_srs):
    random_sample = df.sample(n = n_srs)
    return(random_sample)
randomSample = random_sampling(df_new, n_srs)

In [ ]:
randomSample.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
496,-1.185698,-0.386510,1.623072,1.636406,1.102506,-0.683317,-0.303337,0.285653,-0.056085,-0.173921,...,0.068753,-0.006952,0.040889,0.040937,0.009224,-0.201042,0.106580,0.140465,0.001718,0
955,1.257719,0.364739,0.306923,0.690638,-0.357792,-1.067481,0.094272,-0.210300,0.014455,-0.286012,...,-0.286856,-0.820658,0.127663,0.343128,0.221120,0.094391,-0.022189,0.030944,0.000222,1
665,0.860545,-0.747804,-0.955151,-1.124056,0.186536,-0.385942,0.703443,-0.282689,0.482600,-0.935486,...,-0.236279,-1.185203,-0.329844,-1.027355,0.613308,-0.979857,-0.018398,0.046621,0.046246,0
744,-0.439880,0.630451,1.942591,-0.798747,0.261325,-0.617939,1.224288,-0.844641,0.211259,0.263397,...,-0.085056,0.177107,-0.142910,0.466897,-0.438533,0.803909,-0.907362,-0.614642,0.003040,0
223,-2.419486,1.949346,0.552998,0.982710,-0.284815,2.411200,-1.398537,-0.188922,0.675695,0.158123,...,1.213390,-1.238354,0.007191,-1.724175,0.239721,-0.313607,-0.187431,0.119472,0.001159,0

In [ ]:
X_srs = randomSample.drop('Class', axis=1) #X_train
y_srs = randomSample['Class'] #y_train

In [ ]:
len(y_srs)

384

In [ ]:
srs_RandomForest = RandomForest(X_srs,y_srs,X_test,y_test)
srs_DecisionTree = DecisionTree(X_srs,y_srs,X_test,y_test)
srs_KNN = KNN(X_srs,y_srs,X_test,y_test)
srs_naive=naive_bayes(X_srs,y_srs,X_test,y_test)
srs_et=ExtraT(X_srs,y_srs,X_test,y_test)
a1 = [srs_RandomForest,srs_DecisionTree,srs_KNN,srs_et,srs_naive]

In [ ]:
a1

[0.996031746031746,
 0.9325396825396826,
 0.9384920634920635,
 0.998015873015873,
 0.6845238095238095]

##STRATIFIED SAMPLING

In [ ]:
#Stratified Sampling
import math
s = 2 #no of strata
n_strat = (z*z*p*(1-p))/(e*e/s*s)
n_strat = math.floor(n_srs)
print(n_strat)

384

In [ ]:
# stratified sampling
from sklearn.model_selection import train_test_split
strata = df_new.groupby('Class')
stratified_df = strata.apply(lambda x: x.sample(n_strat))
stratified_df

                  V1        V2        V3        V4        V5        V6  \
Class
0     598   1.216891 -0.735671  0.236358 -0.579814 -1.178604 -0.930514
      92    1.107029  0.216441  0.538378  1.476398 -0.251942 -0.340680
      468  -3.495984 -4.088420  2.024845 -0.740363  1.128135 -1.231702
      457  -0.779988  1.395775  1.780828 -0.187325  0.953850 -0.511395
      260  -0.598071  1.264137  1.410326  1.695175  0.391728  0.192576
...              ...       ...       ...       ...       ...       ...
1     965  -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
      1040 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823
      1176  0.073497  0.551033  0.451890  0.114964  0.822947  0.251480
      1199 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
      1254 -1.738582  0.052740  1.187057 -0.656652  0.920623 -0.291788

                  V7        V8        V9       V10  ...       V21       V22  \
Class                                               ...
0     598  -0.386018 -0.120917 -1.081759  0.861884  ... -0.291514 -0.586820
      92    0.154092 -0.086503  0.144420 -0.157375  ... -0.060037  0.059884
      468  -0.086554  0.157807  1.677621 -1.946860  ...  0.361562 -0.173006
      457   1.419480 -0.942652  0.412283  0.221457  ... -0.303942 -0.059939
      260   1.118221 -0.050613 -1.716967  0.457353  ...  0.142545  0.317851
...              ...       ...       ...       ...  ...       ...       ...
1     965  -2.537387  1.391657 -2.770089 -2.772272  ...  0.517232 -0.035049
      1040  0.325574 -0.067794 -0.270953 -0.838587  ...  0.661696  0.435477
      1176  0.296319  0.139497 -0.123050 -0.142617  ... -0.128758 -0.381932
      1199 -2.537387  1.391657 -2.770089 -2.772272  ...  0.517232 -0.035049
      1254  0.269083  0.140631  0.023464 -0.066407  ... -0.179545 -0.192036

                 V23       V24       V25       V26       V27       V28  \
Class
0     598   0.009280  0.557000  0.163173  1.005774 -0.087848  0.006504
      92   -0.047526  0.443992  0.640296 -0.337657  0.042108  0.024265
      468   1.280446  0.012697  0.760879 -0.828147 -0.298700 -0.061615
      457  -0.547134 -0.216276  0.325048  0.290821 -0.529626 -0.668827
      260  -0.199074  0.014307  0.150580 -0.015710 -0.071642  0.034371
...              ...       ...       ...       ...       ...       ...
1     965  -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276
      1040  1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764
      1176  0.151012 -1.363967 -1.389079  0.075412  0.231750  0.230171
      1199 -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276
      1254 -0.261879 -0.237477 -0.335040  0.240323 -0.345129 -0.383563

              Amount  Class
Class
0     598   0.013009      0
      92    0.004595      0
      468   0.078537      0
      457   0.000177      0
      260   0.013040      0
...              ...    ...
1     965   0.000000      1
      1040  0.090968      1
      1176  0.000170      1
      1199  0.000000      1
      1254  0.000172      1

[768 rows x 30 columns]

In [ ]:
stratified_df.head()

                 V1        V2        V3        V4        V5        V6  \
Class
0     598  1.216891 -0.735671  0.236358 -0.579814 -1.178604 -0.930514
      92   1.107029  0.216441  0.538378  1.476398 -0.251942 -0.340680
      468 -3.495984 -4.088420  2.024845 -0.740363  1.128135 -1.231702
      457 -0.779988  1.395775  1.780828 -0.187325  0.953850 -0.511395
      260 -0.598071  1.264137  1.410326  1.695175  0.391728  0.192576

                 V7        V8        V9       V10  ...       V21       V22  \
Class                                              ...
0     598 -0.386018 -0.120917 -1.081759  0.861884  ... -0.291514 -0.586820
      92   0.154092 -0.086503  0.144420 -0.157375  ... -0.060037  0.059884
      468 -0.086554  0.157807  1.677621 -1.946860  ...  0.361562 -0.173006
      457  1.419480 -0.942652  0.412283  0.221457  ... -0.303942 -0.059939
      260  1.118221 -0.050613 -1.716967  0.457353  ...  0.142545  0.317851

                V23       V24       V25       V26       V27       V28  \
Class
0     598  0.009280  0.557000  0.163173  1.005774 -0.087848  0.006504
      92  -0.047526  0.443992  0.640296 -0.337657  0.042108  0.024265
      468  1.280446  0.012697  0.760879 -0.828147 -0.298700 -0.061615
      457 -0.547134 -0.216276  0.325048  0.290821 -0.529626 -0.668827
      260 -0.199074  0.014307  0.150580 -0.015710 -0.071642  0.034371

             Amount  Class
Class
0     598  0.013009      0
      92   0.004595      0
      468  0.078537      0
      457  0.000177      0
      260  0.013040      0

[5 rows x 30 columns]

In [ ]:
X_st = stratified_df.drop('Class', axis=1) #X_train
y_st = stratified_df['Class'] #y_train

st_RandomForest = RandomForest(X_st,y_st,X_test,y_test)
st_DecisionTree = DecisionTree(X_st,y_st,X_test,y_test)
st_KNN = KNN(X_st,y_st,X_test,y_test)
st_ET = ExtraT(X_st,y_st,X_test,y_test)
st_naive=naive_bayes(X_st,y_st,X_test,y_test)

a2 = [st_RandomForest,st_DecisionTree,st_KNN,st_ET,st_naive]

In [ ]:
a2

[1.0,
 0.9345238095238095,
 0.9563492063492064,
 0.998015873015873,
 0.7222222222222222]

##CLUSTER SAMPLING

In [ ]:
from sklearn.cluster import KMeans
#no of clusters = 15
kmeans = KMeans(n_clusters=15, random_state=42).fit(df_new)
cluster_assignments = kmeans.labels_
cluster = [1,3,5,6,8]
cluster_series = pd.Series(cluster_assignments)
cluster_df = df_new[cluster_series.isin(cluster)]

In [ ]:
cluster_df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
21,0.962496,0.328461,-0.171479,2.109204,1.129566,1.696038,0.107712,0.521502,-1.191311,0.724396,...,0.143997,0.402492,-0.048508,-1.371866,0.390814,0.199964,0.016371,-0.014605,0.005862,0
22,1.166616,0.502120,-0.067300,2.261569,0.428804,0.089474,0.241147,0.138082,-0.989162,0.922175,...,0.018702,-0.061972,-0.103855,-0.370415,0.603200,0.108556,-0.040521,-0.011418,0.000392,0
26,1.173285,0.353498,0.283905,1.133563,-0.172577,-0.916054,0.369025,-0.327260,-0.246651,-0.046139,...,0.067003,0.227812,-0.150487,0.435045,0.724825,-0.337082,0.016368,0.030041,0.007202,0
39,1.110880,0.168717,0.517144,1.325407,-0.191573,0.019504,-0.031849,0.117620,0.017665,0.044865,...,-0.037709,0.095701,-0.048198,0.232115,0.606201,-0.342097,0.036770,0.007480,0.001125,0

In [ ]:
X_C = cluster_df.drop('Class', axis=1) #X_train
y_C = cluster_df['Class'] #y_train

C_RandomForest = RandomForest(X_C,y_C,X_test,y_test)
C_DecisionTree = DecisionTree(X_C,y_C,X_test,y_test)
C_KNN = KNN(X_C,y_C,X_test,y_test)
C_et = ExtraT(X_C,y_C,X_test,y_test)
C_naive = naive_bayes(X_C,y_C,X_test,y_test)

a3 = [C_RandomForest,C_DecisionTree,C_KNN,C_et,C_naive]

##SYSTEMATIC SAMPLING

In [ ]:
#Systematic Sampling
interval = 5
systematic_df = df_new.iloc[::interval]
systematic_df

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
5,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,-0.371407,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,0.000631,0
10,1.449044,-1.176339,0.913860,-1.375667,-1.971383,-0.629152,-1.423236,0.048456,-1.720408,1.626659,...,-0.009302,0.313894,0.027740,0.500512,0.251367,-0.129478,0.042850,0.016253,0.001341,0
15,-0.752417,0.345485,2.057323,-1.468643,-1.158394,-0.077850,-0.608581,0.003603,-0.436167,0.747731,...,0.499625,1.353650,-0.256573,-0.065084,-0.039124,-0.087086,-0.180998,0.129394,0.002750,0
20,0.694885,-1.361819,1.029221,0.834159,-1.191209,1.309109,-0.878586,0.445290,-0.446196,0.568521,...,-0.295583,-0.571955,-0.050881,-0.304215,0.072001,-0.422234,0.086553,0.063499,0.039845,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,1.254914,0.350287,0.302488,0.693114,-0.371470,-1.070256,0.086781,-0.202836,0.035154,-0.282617,...,-0.287592,-0.832682,0.128083,0.339427,0.215944,0.094704,-0.023354,0.030892,0.000463,1
1510,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
1515,-0.928088,0.398194,1.741131,0.182673,0.966387,-0.901004,0.879016,-0.156590,-0.142117,-0.574775,...,0.066353,0.281378,-0.257966,0.385384,0.391117,-0.453853,-0.104448,-0.125765,0.000172,1
1520,1.257719,0.364739,0.306923,0.690638,-0.357792,-1.067481,0.094272,-0.210300,0.014455,-0.286012,...,-0.286856,-0.820658,0.127663,0.343128,0.221120,0.094391,-0.022189,0.030944,0.000222,1
1525,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,-0.838587,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,0.090968,1

In [ ]:
systematic_df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
5,-0.425966,0.960523,1.141109,-0.168252,0.420987,-0.029728,0.476201,0.260314,-0.568671,-0.371407,...,-0.208254,-0.559825,-0.026398,-0.371427,-0.232794,0.105915,0.253844,0.081080,0.000631,0
10,1.449044,-1.176339,0.913860,-1.375667,-1.971383,-0.629152,-1.423236,0.048456,-1.720408,1.626659,...,-0.009302,0.313894,0.027740,0.500512,0.251367,-0.129478,0.042850,0.016253,0.001341,0
15,-0.752417,0.345485,2.057323,-1.468643,-1.158394,-0.077850,-0.608581,0.003603,-0.436167,0.747731,...,0.499625,1.353650,-0.256573,-0.065084,-0.039124,-0.087086,-0.180998,0.129394,0.002750,0
20,0.694885,-1.361819,1.029221,0.834159,-1.191209,1.309109,-0.878586,0.445290,-0.446196,0.568521,...,-0.295583,-0.571955,-0.050881,-0.304215,0.072001,-0.422234,0.086553,0.063499,0.039845,0

In [ ]:
X_sy = systematic_df.drop('Class', axis=1) #X_train
y_sy = systematic_df['Class'] #y_train

sy_RandomForest = RandomForest(X_sy,y_sy,X_test,y_test)
sy_DecisionTree = DecisionTree(X_sy,y_sy,X_test,y_test)
sy_KNN = KNN(X_sy,y_sy,X_test,y_test)
sy_et = ExtraT(X_sy,y_sy,X_test,y_test)
sy_naive = naive_bayes(X_sy,y_sy,X_test,y_test)

a4 = [sy_RandomForest,sy_DecisionTree,sy_KNN,sy_et,sy_naive]

In [ ]:
a4

[0.9940476190476191,
 0.9365079365079365,
 0.9206349206349206,
 1.0,
 0.7123015873015873]

##convenience sampling

In [ ]:
#convenience sampling
convenience_sample = pd.concat([df_new.head(380), df_new.tail(380)])
convenience_sample

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1521,-2.000567,-2.495484,2.467149,1.140053,2.462010,0.594262,-2.110183,0.788347,0.958809,-0.328631,...,0.422452,1.195394,0.297836,-0.857105,-0.219322,0.861019,-0.124622,-0.171060,0.000258,1
1522,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1523,0.073497,0.551033,0.451890,0.114964,0.822947,0.251480,0.296319,0.139497,-0.123050,-0.142617,...,-0.128758,-0.381932,0.151012,-1.363967,-1.389079,0.075412,0.231750,0.230171,0.000170,1
1524,-1.738582,0.052740,1.187057,-0.656652,0.920623,-0.291788,0.269083,0.140631,0.023464,-0.066407,...,-0.179545,-0.192036,-0.261879,-0.237477,-0.335040,0.240323,-0.345129,-0.383563,0.000172,1
1525,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,-0.838587,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,0.090968,1

In [ ]:
convenience_sample.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.025729,0
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,0.000463,1
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,0.065115,0
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.021237,0
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,0.012036,0

In [ ]:
X_cs = convenience_sample.drop('Class', axis=1) #X_train
y_cs = convenience_sample['Class'] #y_train

cs_RandomForest = RandomForest(X_cs,y_cs,X_test,y_test)
cs_DecisionTree = DecisionTree(X_cs,y_cs,X_test,y_test)
cs_KNN = KNN(X_cs,y_cs,X_test,y_test)
cs_et = ExtraT(X_cs,y_cs,X_test,y_test)
cs_naive = naive_bayes(X_cs,y_cs,X_test,y_test)

a5 = [cs_RandomForest,cs_DecisionTree,cs_KNN,cs_et,cs_naive]

In [ ]:
a5

[0.9880952380952381,
 0.9365079365079365,
 0.9623015873015873,
 0.998015873015873,
 0.7916666666666666]

In [ ]:
data = {
    'Model' : ['Random Forest','Decision Tree','KNN','Extra Trees Classifier','Naive Bayes'],
    'Simple Random Sampling' : a1,
    'Stratified Sampling' : a2,
    'Cluster Sampling' : a3,
    'Systematic Sampling' : a4,
    'Convenience Sampling' : a5
}

In [ ]:
final_df = pd.DataFrame(data)

##Final table

In [ ]:
final_df

,Model,Simple Random Sampling,Stratified Sampling,Cluster Sampling,Systematic Sampling,Convenience Sampling
0,Random Forest,0.990079,1.000000,0.843254,0.994048,0.988095
1,Decision Tree,0.932540,0.936508,0.853175,0.936508,0.936508
2,KNN,0.934524,0.962302,0.779762,0.920635,0.962302
3,Extra Trees Classifier,1.000000,0.996032,0.849206,1.000000,0.998016
4,Naive Bayes,0.744048,0.755952,0.831349,0.712302,0.791667